<p>Hola <%= name %>,</p>
<p>
  Gracias por iniciar sesion en SIDCS. Estamos muy emocionados de tenerte de vuelta.
</p>

<p>Para iniciar sesion, por favor ingrese el siguiente codigo:</p>
<p>
  <strong><%= code %></strong>
</p>

<p>
  Si no solicitaste este codigo, por favor ignora este correo.
</p>