<p>Hola <%= name %>,</p>
<p>
  Gracias por registrarte en SIDCS. Estamos muy emocionados de tenerte con nosotros.
</p>

<p>Para empezar a usar el sistema. por favor confirma tu cuenta con el link a continuación:</p>
<p>
  <a href="<%= link %>">Confirma tu cuenta</a>
</p>

<p>
  Si tienes problemas confirmando tu cuenta, copia y pega el siguiente link en tu navegador:
</p>
<p>
  <%= link %>
</p>