<p>Hola <%= name %>,</p>
<p>
  Has solicitado un codigo de verificacion para recuperar tu contraseña.
  Estamos muy emocionados de tenerte de vuelta.
</p>

<p>ingrese el siguiente codigo de seguridad:</p>
<p>
  <strong><%= code %></strong>
</p>

<p>
  Si no solicitaste este codigo, por favor ignora este correo.
</p>